<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flight.recorder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />
    
	<uses-permission android:name="android.permission.INTERNET" ></uses-permission>
	<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	
    <application
        android:debuggable="true" 
        android:allowBackup="true"
        android:icon="@drawable/parachute"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="flight.recorder.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="flight.recorder.ResultsActivity"
            android:label="@string/title_activity_results_message"
            android:parentActivityName="flight.recorder.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="flight.recorder.MainActivity" />
        </activity>
        <activity
            android:name="flight.recorder.FacebookActivity"
            android:label="@string/title_activity_facebook_message"
            android:parentActivityName="flight.recorder.ResultsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="flight.recorder.ResultsActivity" />
        </activity>
        <activity
            android:name="flight.recorder.CallActivity"
            android:label="@string/title_activity_facebook_message"
            android:parentActivityName="flight.recorder.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="flight.recorder.MainActivity" />
        </activity>
	    <service
	        android:name="flight.recorder.SimpleService"
	        android:label="@string/pressure_service" >
	    </service>
        
    </application>
</manifest>